<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>IndexPage</title>
</head>
<body>
<form action ="/processform" th:object="${player}" method="post">
<p> Player Name: <input type= "text" th:field="*{name}"/> </p>
<p> Age: <input type= "text" th:field="*{age}"/> </p>
<p> Club: <input type= "text" th:field="*{club}"/> </p>
<p> Position: <input type= "text" th:field="*{position}"/> </p>
<p> Retried </p>
<p>
	Yes<input type="checkbox" th:field="*{retried}" th:value="true"/>
</p>
<p>
	<input type="submit" value="Submit"/>
	<input type="reset" value="Reset"/>
</p>

</form>
</body>
</html>